* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-font: "Ancizar Sans", sans-serif;
  --secondary-font: "Great Vibes", cursive;
  --color-primary: #5cb338;
  --color-primary-lighter: #aeea94;
  --color-white: #fff;
  --color-white-lighter: #f7f7f7;
  --color-black-main: #000;
  --color-black-light: #393e46;
}

html {
  font-size: 10px;
  font-size: 62.5%;
}

.body {
  font-size: 1.6rem;
}

/*Header Items*/
.header-nav {
  display: flex;
  /*border: 5px solid red;*/
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--color-white-lighter);
}

.urban-title {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 3rem;
  color: var(--color-black-main);
  text-decoration: none;
}

.items {
  display: flex;
  gap: 4rem;
  /*border: 2px solid red;*/
  list-style: none;
  text-transform: uppercase;
}

.menu-toggle {
  display: none;
}

@media screen and (max-width: 970px) {
  .items {
    gap: 3rem;
  }
}
@media screen and (max-width: 900px) {
  .header-nav {
    align-items: flex-start;
    position: relative;
  }
  .items {
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 100%;
    display: none;
  }
  .menu-toggle {
    display: block;
    align-items: center;
    font-size: 2rem;
    font-weight: 500;
  }
  @media screen and (max-width: 450px) {
    .urban-title {
      font-size: 2rem;
    }
  }
}

.header-items a {
  text-decoration: none;
  font-size: 2rem;
}

.header-cta-btn {
  text-decoration: none;
  font-size: 2rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 1rem 2rem;
  border-radius: 5px;
  font-weight: 600;
}

/* End of Header Items */

/*Hero Section*/
.hero-section {
  /*border: 2px solid green;*/
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}

.hero-section img {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  flex-wrap: wrap;
}

/*@media screen and (max-width: 500px) {
  .items {
    display: none;
  }
  .urban-title {
    font-size: 4rem;
  }
}
*/

/*End of Hero Section*/
