* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-font: "Ancizar Sans", sans-serif;
  --secondary-font: "Great Vibes", cursive;
  --color-primary: #5cb338;
  --color-primary-lighter: #aeea94;
  --color-blue: #0118d8;
  --color-blue-lighter: #2973b2;
  --color-black-main: #000;
  --color-black-light: #393e46;
}

html {
  font-size: 10px;
  font-size: 62.5%;
}

.body {
  font-size: 1.6rem;
}

/*Header Items*/
.header-nav {
  display: flex;
  /*border: 5px solid red;*/
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--color-blue-lighter);
}

.urban-title {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 3rem;
  color: var(--color-black-main);
  text-decoration: none;
}

.items {
  display: flex;
  gap: 4rem;
  /*border: 2px solid red;*/
  list-style: none;
  text-transform: uppercase;
}

.menu-toggle {
  display: none;
}

@media screen and (max-width: 970px) {
  .items {
    gap: 3rem;
  }
}
@media screen and (max-width: 900px) {
  .header-nav {
    align-items: flex-start;
    position: relative;
  }
  .items {
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 100%;
    display: none;
  }
  .menu-toggle {
    display: block;
    align-items: center;
    font-size: 2rem;
    font-weight: 500;
  }
  @media screen and (max-width: 450px) {
    .urban-title {
      font-size: 2rem;
    }
  }
}

.header-items a {
  text-decoration: none;
  font-size: 2rem;
  color: var(--color-black-main);
}

.header-cta-btn {
  text-decoration: none;
  font-size: 2rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 1rem 2rem;
  border-radius: 5px;
  font-weight: 600;
}

/* End of Header Items */

/*Hero Section*/
.hero-section {
  padding: 2rem;
  max-height:500px;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(/Images/Hero\ Section.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15rem;
  margin-top: 5rem;
}

.hero-title-sub {
  font-family: var(--secondary-font);
  text-transform: capitalize;
  font-size: 10rem;
  font-weight: 900;
  color: var(--color-primary);
  text-align: center;
}

.hero-title-main {
  text-transform: uppercase;
  font-size: 4rem;
  color: var(--color-blue);
  text-align: center;
  letter-spacing: 1.5px;
}

/*End of Hero Section*/
